<% include head %>

<form class="form-horizontal" role="form" action="/ai/upload" method="post" enctype="multipart/form-data">
  <h2>Upload AI</h2>
  <div class="form-group">
    <label for="file" class="col-sm-2 control-label">ZIP File</label>
    <div class="col-sm-10">
      <input type="file" class="form-control" id="file" placeholder="Choose the zip file" name="ai" required>
    </div>
  </div>
  <div class="form-group">
    <pre>请将 AI 打包为 zip 文件，zip 文件的根目录即为 AI 的源代码，如：
MyAI.zip:
    /Makefile
    /Makefile-mingw
    /main.cpp
    /network.h
    /player.cpp
    /player.h
    
另外，编译时将不会使用 Makefile，而是直接使用下面命令：
     g++ -std=c++11 -Wall -lpthread -lboost_system *.cpp -o client
    </pre>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Upload!</button>
    </div>
  </div>
</form>

<% include foot %>