    </div>
    <div class="footer" role="footer">
        <p><small>Powered by <em><a href="https://github.com/abcdabcd987/p2dv.in">p2dv.in</a></em> &copy; Lequn Chen</small></p>
    </div>
    <script src="<%= settings.staticCDN %>/js/jquery-2.1.1.min.js"></script>
    <script src="<%= settings.staticCDN %>/bootstrap/js/bootstrap.min.js"></script>
