<% include head %>
<div class="jumbotron">
<div class="container">
  <h1>sjtu.cool <small>-- for Programming Fall 2015</small></h1>
  <p>Have fun playing the final project.</p>
  <p><a class="btn btn-primary btn-lg" href="/battle/list" role="button">Go Watch Battles</a></p>
</div>
</div>
<% include foot %>