<% include head %>
<div class="jumbotron">
  <h1>p2dv.in <small>-- Place to Dive In</small></h1>
  <p>A website for AI Battle.</p>
  <p>Enjoy your final project!</p>
  <p><a class="btn btn-primary btn-lg" href="/battle/list" role="button">Go Watch Battles</a></p>
</div>
<% include foot %>