<% include head %>
<div class="jumbotron">
<div class="container">
  <h1>p2dv.in <small>-- Place to Dive In</small></h1>
  <p>A website for AI Battle. Enjoy your final project!</p>
  <hr>
  <h2>p2dv.in Server Moved!</h2>
  <p>Moved to <em><strong>Linode</strong> Fremont, USA</em> from <em><strong>DigitalOcean</strong> Singapore</em>.</p>
  <hr>
  <h2>8 Judge Servers!</h2>
  <p>We have 8 judge servers now! Enjoy yourselves!</p>
  <hr>
  <h2>First Thing First!</h2>
  <p>We'll look up running battles and make sure that battles with different participating AIs run first.</p>
  <hr>
  <h2>Rating System Supported!</h2>
  <p>We have both <strong>AI Ratings</strong> and <strong>User Ratings</strong> now! The rating algorithm is <em>Elo Rating System</em>.</p>
  <hr>
  <h2><code>stderr</code> Supported!</h2>
  <p>You can output your debug infomation to <code>stderr</code></p>
  <p><a class="btn btn-primary btn-lg" href="/battle/list" role="button">Go Watch Battles</a></p>
</div>
</div>
<% include foot %>