<% include head %>
<div class="jumbotron">
  <h1>p2dv.in <small>-- Place to Dive In</small></h1>
  <p>A website for AI Battle. Enjoy your final project!</p>
  <hr>
  <h2>p2dv.in Server Moved</h2>
  <p>Moved to <em><strong>Linode</strong> Fremont, USA</em> from <em><strong>DigitalOcean</strong> Singapore</em>.</p>
  <hr>
  <h2>Hardware Upgraded</h2>
  <pre>CPU   :    Xeon E5-2630L v2 @ 2.40GHz * 1 Core
        => Xeon E5-2680 v2 @ 2.80GHz * 2 Cores
 
Memory:    1 GB => 2 GB</pre>
  <hr>
  <h2><code>stderr</code> Supported</h2>
  <p>You can output your debug infomation to <code>stderr</code></p>
  <p><a class="btn btn-primary btn-lg" href="/battle/list" role="button">Go Watch Battles</a></p>
</div>
<% include foot %>