.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ==================== Chess Board ==================== */

#chess-board {
  border: 5px solid #eee;
}

#chess-board td {
  height: 65px;
  width: 65px;
  border: 5px solid #eee;
}

#float-chess {
  height: 65px;
  width: 65px;
  border: 5px solid #eee;
}

.hidden {
  display: none;
}

#float-chess {
  position: absolute;
}

.img-chess {
  background-image: url(chess_pieces.png);
}

.img-blank {
  background-image: url(chess_blank.png);
}

.img-blank, .img-chess {
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
}

.img-red-1 { background-position:    0px 0px; }
.img-red-2 { background-position:  -60px 0px; }
.img-red-3 { background-position: -120px 0px; }
.img-red-4 { background-position: -180px 0px; }
.img-red-5 { background-position: -240px 0px; }
.img-red-6 { background-position: -300px 0px; }
.img-red-7 { background-position: -360px 0px; }

.img-black-1 { background-position:    0px -60px; }
.img-black-2 { background-position:  -60px -60px; }
.img-black-3 { background-position: -120px -60px; }
.img-black-4 { background-position: -180px -60px; }
.img-black-5 { background-position: -240px -60px; }
.img-black-6 { background-position: -300px -60px; }
.img-black-7 { background-position: -360px -60px; }

#demo-text {
  line-height: 2em;
  height: 3em;
  padding: 0.5em;
  margin-top: 0.5em;
  width: 453px;
}
